<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    tools:context="com.example.mimo.helloandroid.MainActivity">

<ImageView
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
    android:src="@drawable/udacityindia"
    android:id="@+id/Cup_image_view"
    android:scaleType="center"
    />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Udacity"
        android:layout_below="@id/Cup_image_view"
        android:id="@+id/Udacity_text_view"
        android:textSize="15sp"
        android:paddingStart="20dp"
        android:paddingTop="20dp"
        android:paddingBottom="5dp"
         />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_below="@id/Udacity_text_view"
        android:text="650-555-5555"
        android:id="@+id/Numbers_text_view"
        android:paddingStart="20dp"
        android:paddingTop="5dp"
        android:paddingBottom="5dp"
        android:textSize="15sp"
        />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_below="@id/Numbers_text_view"
        android:text="www.udacity.com"
        android:id="@+id/Web_text_view"
        android:paddingStart="20dp"
        android:paddingTop="5dp"
        android:paddingBottom="5dp"
        android:textSize="15sp"
        />

    <TextView
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_below="@id/Web_text_view"
        android:text="2465 Latham St, Mountain View, CA 94043"
        android:id="@+id/Lathem_text_view"
        android:paddingStart="20dp"
        android:paddingTop="5dp"
        android:paddingBottom="5dp"
        android:textSize="15sp"
        />



</RelativeLayout>
